@import '../../styles.scss';

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  background: $shadowColor;
  padding: 1rem;
  justify-content: center;
  .footer__content {
    .footer__copyright {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}
